<!DOCTYPE html>
<html>
  <head>
    <title>Deal</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row navbar">
        <a href="/">
          <h4>Home</h4>
        </a>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
