<!DOCTYPE html>
<html>
  <head>
    <title>L33t</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row navbar">
        <h3>
          <a href="/">Home</a>
        </h3>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
